.sf-menu.sf-style-spring {
    float: left;
    margin-bottom: 4px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
}
.sf-menu.sf-style-spring.sf-navbar {
  width: 100%;
}
.sf-menu.sf-style-spring ul {
  padding-left: 0;
}


#superfish-1 {
    color: #949494;
    padding: 1em 1em;
    /* border-right: 50px dashed #fff; */
    /* border-left: 31px dashed #fff; */
    /* font-variant: small-caps; */
    font-size: 16px;
    background-color: #1f1f201c;
    font-weight: 100;
}
ul.menu li {
    list-style-position: inside;
    padding: 15px 0 15px 0;
    margin: 0;
    border-bottom: 0px solid #fff!important;
}
.sf-menu.sf-style-spring a,
.sf-menu.sf-style-spring span.nolink {

  color: #949494;
  padding: 0.75em 1em;
  /* border-right: 50px dashed #fff; */
  /* border-left: 31px dashed #fff; */
  font-size: initial;
}
.sf-menu.sf-style-spring a.sf-with-ul,
.sf-menu.sf-style-spring span.nolink.sf-with-ul {
  padding-right: 2.25em;
}
.sf-menu.sf-style-spring.rtl a.sf-with-ul,
.sf-menu.sf-style-spring.rtl span.nolink.sf-with-ul {
  padding-left: 2.25em;
  padding-right: 1em;
}
.sf-menu.sf-style-spring.sf-navbar a,
.sf-menu.sf-style-spring.sf-navbar span.nolink {
  border: 0;
}
.sf-menu.sf-style-spring span.sf-description {
  color: #37731f;
  display: block;
  font-size: 0.833em;
  line-height: 1.5;
  margin: 5px 0 0 5px;
  padding: 0;
}
.sf-menu.sf-style-spring.rtl span.sf-description {
  margin: 5px 5px 0 0;
}
.sf-menu.sf-style-spring li,
.sf-menu.sf-style-spring.sf-navbar {
background: rgba(255, 255, 255, 0);

    min-width: 273px!important;

}
.sf-menu.sf-style-spring li li {
        background: #f2bf4c;
}
.sf-menu.sf-style-spring li li li {
  background: #ffffff;
}
.sf-menu.sf-style-spring li:hover,
.sf-menu.sf-style-spring li.sfHover,
.sf-menu.sf-style-spring span.nolink:hover,
.sf-menu.sf-style-spring.sf-navbar li li {
    background: rgb(238, 170, 16);
  text-decoration: none !important;
}

.sf-menu.sf-horizontal.sf-shadow ul {
    background: #51867500!important;
    padding: inherit!important;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

.sf-menu.sf-style-spring.sf-navbar li ul {
  background-color: #bff6a9;
}
.sf-menu.sf-style-spring.sf-navbar li ul li ul {
  background-color: transparent;
}
.sf-menu.sf-style-spring .sf-sub-indicator {
  background-image: url('../images/arrows-777777.png');
}
.sf-menu.sf-style-spring.rtl .sf-sub-indicator {
  background-image: url('../images/arrows-777777-rtl.png');
}
div.sf-accordion-toggle.sf-style-spring a {
  background: #FFFFFF;
  border: 1px solid #ffffff;
  color: #616161;
  padding: 1em;
}
div.sf-accordion-toggle.sf-style-spring a.sf-expanded,
.sf-menu.sf-style-spring.sf-accordion li.sf-expanded {
  background-color: #FFFFFF;
}
div.sf-accordion-toggle.sf-style-spring a.sf-expanded,
.sf-menu.sf-style-spring.sf-accordion li.sf-expanded > a,
.sf-menu.sf-style-spring.sf-accordion li.sf-expanded > span.nolink {
  font-weight: bold;
}
.sf-menu.sf-style-spring.sf-accordion li a.sf-accordion-button {
  font-weight: bold;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 499;
}
.sf-menu.sf-style-spring.sf-accordion li li a,
.sf-menu.sf-style-spring.sf-accordion li li span.nolink {
  padding-left: 2em;
}
.sf-menu.sf-style-spring.sf-accordion li li li a,
.sf-menu.sf-style-spring.sf-accordion li li li span.nolink {
  padding-left: 3em;
}
.sf-menu.sf-style-spring.sf-accordion li li li li a,
.sf-menu.sf-style-spring.sf-accordion li li li li span.nolink {
  padding-left: 4em;
}
.sf-menu.sf-style-spring.sf-accordion li li li li a,
.sf-menu.sf-style-spring.sf-accordion li li li li span.nolink {
  padding-left: 5em;
}
.sf-menu.sf-style-spring.rtl.sf-accordion li li a,
.sf-menu.sf-style-spring.rtl.sf-accordion li li span.nolink {
  padding-left: auto;
  padding-right: 2em;
}
.sf-menu.sf-style-spring.rtl.sf-accordion li li li a,
.sf-menu.sf-style-spring.rtl.sf-accordion li li li span.nolink {
  padding-left: auto;
  padding-right: 3em;
}
.sf-menu.sf-style-spring.rtl.sf-accordion li li li li a,
.sf-menu.sf-style-spring.rtl.sf-accordion li li li li span.nolink {
  padding-left: auto;
  padding-right: 4em;
}
.sf-menu.sf-style-spring.rtl.sf-accordion li li li li li a,
.sf-menu.sf-style-spring.rtl.sf-accordion li li li li li span.nolink {
  padding-left: auto;
  padding-right: 5em;
}
.sf-menu.sf-style-spring ul.sf-megamenu li.sf-megamenu-wrapper ol,
.sf-menu.sf-style-spring ul.sf-megamenu li.sf-megamenu-wrapper ol li {
  margin: 0;
  padding: 0;
}
.sf-menu.sf-style-spring ul.sf-megamenu li.sf-megamenu-wrapper a.menuparent,
.sf-menu.sf-style-spring ul.sf-megamenu li.sf-megamenu-wrapper span.nolink.menuparent {
  font-weight: bold;
}
.sf-menu.sf-style-spring ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  display: inline;
  float: left;
}
.sf-menu.sf-style-spring.rtl ul.sf-megamenu li.sf-megamenu-wrapper ol li.sf-megamenu-column {
  float: right;
}

#menu-218-1 > a
