#main-content {
    BACKGROUND: #24292e;
        min-height: 941px;
}
div.messages.status {
display: none!important;
}
#content-wrapper > h1{
  font-size: 4em;
MARGIN-TOP: 10PX!IMPORTANT;
color: #ffc107;
text-align: center;
margin-bottom: 47px;
}

.node.node-teaser, .page-node- #content-wrapper, .page-contact #content-wrapper {

  padding: 0 1rem!IMPORTANT;
      background-color: #262c33!IMPORTANT;
      border: 1px solid #2d3640!IMPORTANT;
      color: #ffae14!IMPORTANT;
      margin-left: 5%!IMPORTANT;
      margin-right: 5%!important;
      border-radius: 0px!important;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #ffc107!important;
    text-decoration: none!important;
    font-weight: 100!important;
}

.node footer {
    border-top: 1px solid #2d3640!important;
}

a, a:hover, a:focus, ul.menu li a.active, ul.menu li a:hover, #forum thead a:hover, #block-node-recent .node-title a:hover {
    color: #cecece!important;
    text-decoration: none!important;
}
body {
    display: block;
    margin: 0px!important;
}
 div.field-label{
   display: none;
 }
.taxonomy-term-description > p{
  font-size: 21px;
    color: white;
    text-align: center;
}
.field-items > div > img{
  width: 100px;
      top: -100000px!important;
      /* margin-top: -200px; */
      /* margin-bottom: 96px; */
      margin-left: 45%;
      margin-bottom: 23px;
}
.field-name-field-id-sdgs{
   display: none;
}

.field-name-field-color{
   display: none;
}
.node-readmore {
      float: right;
}
